---
---
#header_wrap {
  background: url('../images/header.png') #373737;
}
@import "{{ site.theme }}";

@font-face {
    font-family: Daedric;
    src: url(../fonts/ttf/Daedric.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
}
